
<input type="hidden" id="makerId" value="@ViewBag.UserId" />
<div class="container" ng-controller="BattleCtrl">
    <div class="row">
        <div class="col-lg-4">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Your Monster
                    <span class="carat"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    
                        <li ng-repeat="userMonster in currentUserMonsters" ng-click="drawToP1CanvasArea(selected.value = $index)"><a href="#">{{userMonster.MonsterName}}</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="btn btn-danger disabled" id="fightButton">Fight!</div>
        </div>
        <div class="col-lg-4">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Another Monster
                    <span class="carat"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
                    
                    <li ng-repeat="monster in allOtherMonsters" ng-click="drawToP2CanvasArea(selected.value = $index)"><a href="#">{{monster.MonsterName}}</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>
@*end of container*@

<div class="container">
    <div class="row">
        <div class="col-lg-5 canvas-container">
        <canvas id="c1" width="400" height="600"></canvas>
                <meter class="healthMeter" id="p1Health" max="100" min="0" high="100" low="25" value="100"></meter>
                <div class="battle-indicator" id="p1Indicator"></div>
        </div>

        <div class="col-lg-2">
        </div>
        <div class="col-lg-5 canvas-container">
        <canvas id="c2" width="400" height="600"></canvas>
                <meter class="healthMeter" id="p2Health" max="100" min="0" high="100" low="25" value="100"></meter>
                <div class="battle-indicator" id="p2Indicator"></div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("https://rawgit.com/kangax/fabric.js/master/dist/fabric.js")
    @Scripts.Render("~/bundles/app")

}