<input type="hidden" id="makerId" value="@ViewBag.UserId"/>
<div ng-controller="MonsterListCtrl">
    <div class="container">
        <div id="myMonsters">
            <h2>My Monsters</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Monster Id</th>
                        <th>Monster Name</th>
                        <th>Maker</th>
                    </tr>
                </thead>
                <tbody ng-repeat="userMonster in currentUserMonsters">
                    <th scope="row">{{userMonster.MonsterId}}</th>
                    <td>{{userMonster.MonsterName}}</td>
                    <td>{{userMonster.UserId.UserName}}</td>
                    <td class="btn btn-info viewMonster" ng-click="viewUserMonster(userMonster.MonsterId)">View</td>
                    <td class="btn btn-danger">Delete</td>
                </tbody>
            </table>
        </div>
        <div id="allMonsters">
            <h2>All Monsters</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Monster Id</th>
                        <th>Monster Name</th>
                        <th>Maker</th>
                    </tr>
                </thead>
                <tbody ng-repeat="monster in allMonsters" id="{{monster.MonsterId}}">
                    <th scope="row">{{monster.MonsterId}}</th>
                    <td>{{monster.MonsterName}}</td>
                    <td>{{monster.UserId.UserName}}</td>
                    <td class="btn btn-info viewMonster" ng-click="viewUserMonster(monster.MonsterId)">View</td>
                    <td class="btn btn-default fightMonster">Fight</td>
                </tbody>
            </table>
        </div>
    </div>
    <div id="canvas_container">
        <canvas id="c" width="600" height="600"></canvas>
    </div>
</div>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("https://rawgit.com/kangax/fabric.js/master/dist/fabric.js")
@Scripts.Render("~/bundles/app")
}